{% extends "base_generic.html" %}

<!-- Add additional CSS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


{% block content %}
  <h1>Setlist Visualizer Home</h1>
  <p>Welcome to Setlist Visualizer, a website that visualizes the frequency of how often songs are played at concerts</p>
  <h2>Go to setlist.fm and choose the artist you want! Then come back here.</h2>
  <h3>Read our tutorial for more info.</h3>


  <!--{% load static %}
  <img src="{% static 'catalog/images/music.png' %}" alt="logo">-->
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Submit">
  </form>

  {% load static %}
  <img src="{% static 'images/music.png' %}" alt="logo">


{% endblock %}
